@use "sass:math";

$synagogue_width: 100%;
$synagogue_height: calc(70vw/2.2);
$track_width: calc(70vw/2)/5;

.track {
  background-image: linear-gradient(to right, rgb(60, 60, 60),rgb(26, 26, 26), rgb(0, 0, 0),rgb(26, 26, 26), rgb(60, 60, 60));
  width: $track_width;
  max-height: 550px;
}

.synagogue {
  margin:auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 1.5%;
  background-color: rgb(60, 60, 60);
  width: $synagogue_width;
  max-width: 500px;
  height: $synagogue_height;
  max-height: 450px;

}

.marble {
  margin-top: -25%;
  width: 100%;
}

.title{
  margin:auto;
  text-align: center;
  letter-spacing: 2px;
  font-size: 3vw;
}